<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<input type="text" [(ngModel)]="city">
<button (click)="getWeather()">Click Me</button>

<div *ngIf="a" class="container">
  <p class="font-weight-bold text-center display-3 ">{{weatherOb[0].cityname}}, {{weatherOb[0].country}}</p>
  <p class=" text-center display-7 ">Pressure : {{weatherOb[0].pressure}} mb</p>
  <p class="text-center display-7 ">Humidity : {{weatherOb[0].humidity}}%</p>
  <p class="text-center display-7 ">Wind : {{weatherOb[0].wind}}mph SW</p>
<div class="contanier">
    <div class="row">
          <div class="col-sm">
              Date
          </div>
          <div class="col-sm">
            Curr_temp
          </div>
          <div class="col-sm">
              Min_temp
          </div>
          <div class="col-sm">
              Max_temp
          </div>
          <div class="col-sm">
              Description
          </div>
          
        
        </div>
        <br>
    <div *ngFor = "let fw of weatherOb">
  <div class="row">
        <div class="col-sm">
            {{fw.date|date:'fullDate'}}
        </div>
        <div class="col-sm">
            {{(fw.temp-273).toPrecision(4)}}&deg;
        </div>
        <div class="col-sm">
            {{(fw.tempMin-273).toPrecision(4)}}&deg;
        </div>
        <div class="col-sm">
            {{(fw.tempMax-273).toPrecision(4)}}&deg;
        </div>
        <div class="col-sm">
            {{fw.weatherKind}}<img src="http://openweathermap.org/img/w/{{fw.icon}}.png">
        </div>

      </div>
  </div>
</div>

</div>